:root{
    --dark: #2e3241;
    --body: #191d28;
    --light: #fff;
}
body{
    margin: 0px;
    background: var(--body);
    padding: 2rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my{
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}
.main{
    position: relative;
    
    min-height: 100vh;
    color: var(--light);
    font-family: Oswald,sans-serif;
}
#logo{
    height: 40px;
}
.drop_down{
    background-color: var(--dark);
    border-radius: 8px;
    margin: 4px;
    height: 2rem;
    font-size: 14px;
    border: var(--dark);
    color: var(--light);
}
.drop_down :hover{
    cursor: pointer;
    /* background-color: white; */
}
.drop_down option{
    background-color:#fff;
    color: black;
    width: 70px;
}
option{
    width: 120%;
}

#timer{
    display: inline-block;
    box-sizing: content-box;
    border: 1px solid aqua;
    color: aqua;
    font-size: 20px;
    border-radius: 50%;
    padding: 3px;
}
#timer h2{
    display: inline;
}
#sider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sider div{
    margin-right: 20px;
}
table{
    border-collapse: separate;
    width: 100%;
    height: 50%;
    border-spacing: 0 1em;
    /* border-radius: 2rem; */
}
.table_head{
    color: white;
    opacity: .45;
    font-size: 24px;
    border: 0px;
    width: 100vw;
}
.table_body{
    display: table-row-group;
}
.table_body tr{
    border-radius: 1rem;
    display: table-row;
    font-size: 24px;
    font-family: Oswald;
    margin-bottom: 10px;
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
    width: 100vw;
    vertical-align: middle;
    text-align: center;
}
tr td{
    padding: 10px;
    padding-left: 15px;
}
.table_body td:first-child{
    border-radius: 10px 0 0 10px;
}
.table_body td:last-child{
    border-radius: 0 10px 10px 0;
}

.telegram{
    padding: 4px;
    padding-left: 8px;
    padding-right: 7px;
    display: flex;
    background-color: aqua;
    color: white;
    height: 40px;
    align-items: center;
    width: 10rem;
    border-radius: 1rem;
}
.telegram span{
    display: inline-block;
}
#telegram_logo{
    height: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .red{
    color: red;
  }
  .green{
    color: green;
  }